doctype html
html(lang='en')
  include header.pug
  body
    <div id="gsf" class="container-fluid">
      <div class="row">
        include left-menu.pug
        include combined-content.pug
        include right-expand.pug
      </div>
    </div>
