<div class="col-10 col-xl-9 pl-0">
  <div class="card card-main shadow-sm text-primary bg-white h-100">
    <div class="card-header">
      <div class="row">
        <div class="col justify-content-center">
          h3 #{page.title}          
        </div>
        <div class="col mr-3">
        </div>
      </div>
    </div>

    div.card-body.p-4

      if /^module/.test(page.filepath.relative)
        - var articles = env.helpers.contents.list(contents.module);
      else
        - var articles = env.helpers.contents.list(contents);

      each article in articles
        if /[1-9]\.[1-9]\-/.test(article.filepath.relative)

          if article.metadata
            h3.title(id=article.metadata.title.replace(" : ", "-").replace(" ", "-").toLowerCase()) #{article.metadata.title}
            hr

            if article.metadata.snippets
              <div class="col container">
                each snippet in article.metadata.snippets
                  <div class="row">
                    <div class="col-6 col-comment fixed">
                      != snippet.docs.replace(/\n/g, '<br/>')
                    </div>
                    <div class="col-6 col-source">
                      pre
                        code.hljs
                          :highlight(lang="javascript")
                          != snippet.code
                    </div>
                  </div>
              </div>
            else
              != article.markdown

  </div>
</div>