doctype html
html(lang='en')
  include header.pug
  body
    <div id="gsf" class="container-fluid h-100">
      <div class="row h-100">
        include left-menu.pug
        include main-content.pug
        include right-expand.pug
      </div>
    </div>
