<div class="col-2 col-xl-2">
  <div class="row">
    <div class="col text-right mr-2">
      <a class="nav-link active" href="/">
        img.mx-auto(src=contents.img['gsf-logo.png'].url alt='getsetfetch')
      </a>

      if /^extension/.test(page.filepath.relative)
        <a class="btn btn-secondary float-right w-100" href="#">Install Extension</a>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="nav flex-column text-right ml-4">
        <br>

        if /^module/.test(page.filepath.relative)
          if /features.md/.test(page.filepath.relative)
            <a class="nav-link active" href="#features">Features</a>
          else
            <a class="nav-link" href="#features">Features</a>

          if /getting-started.json$/.test(page.filepath.relative)          
            <a class="nav-link active" href="#getting-started">Getting Started</a>
          else
            <a class="nav-link" href="#getting-started">Getting Started</a>

          if /storage.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="#storage-configurations">Storage</a>
          else
            <a class="nav-link" href="#storage-configurations">Storage</a>

          if /plugins.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="#plugins-architecture">Plugins</a>
          else
            <a class="nav-link" href="#plugins-architecture">Plugins</a>

          if /guides.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="#guides-image-scrapper">Guides</a>
          else
            <a class="nav-link" href="#guides-image-scrapper">Guides</a>

          <!--
          if /blog.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="blog.html">Blog</a>
          else
            <a class="nav-link" href="blog.html">Blog</a>-->

          <br>
          <a class="nav-link" href="https://github.com/get-set-fetch/get-set-fetch">Github</a>

        else
          if /introduction.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="/extension/index.html#introduction">Introduction</a>
          else
            <a class="nav-link" href="/extension/index.html#introduction">Introduction</a>

          if /getting-started.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="/extension/index.html#getting-started">Getting Started</a>
          else
            <a class="nav-link" href="/extension/index.html#getting-started">Getting Started</a>

          if /scenarios.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="/extension/index.html#scenarios">Scenarios</a>
          else
            <a class="nav-link" href="/extension/index.html#scenarios">Scenarios</a>

          if /plugins.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="/extension/index.html#plugins">Plugins</a>
          else
            <a class="nav-link" href="/extension/index.html#plugins">Plugins</a>

          if /changelog.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="/extension/changelog.html">ChangeLog</a>
          else
            <a class="nav-link" href="/extension/changelog.html">ChangeLog</a>

          <!--
          if /blog.md$/.test(page.filepath.relative)
            <a class="nav-link active" href="blog.html">Blog</a>
          else
            <a class="nav-link" href="blog.html">Blog</a>-->

          <br>
          <a class="nav-link" target="_blank" href="https://github.com/get-set-fetch/extension">Github</a>

        
      </nav>
    </div>
  </div>
</div>