<div class="col-10 col-xl-9 pl-0">
  <div class="card card-main shadow-sm text-primary bg-white h-100">
    <div class="card-header">
      <div class="row">
        <div class="col justify-content-center">
          h3 #{page.title}
        </div>
        <div class="col mr-3">
        </div>
      </div>
    </div>

    div.card-body.p-4
      != page.html

  </div>
</div>