{
  "template": "page/module-page.pug",
  "title": "<%= title %>",
  "snippets": [
    <% for (var i=1, l=sections.length; i<l; i++) {
      var section = sections[i];
    %>
    {
      "docs": <%= JSON.stringify(section.docsHtml.replace(/\n$/m, "")) %>,
      "code": <%= JSON.stringify(section.codeText.replace(/\n$/m, "")) %>
    }
    <%= i<l-1 ? "," : '' %>
    <% } %>
  ]
}
