{% if page.extension %}
{% assign menu_pages = site.pages | where: "extension", true %}
{% endif %}
{% if page.blog %}
{% assign menu_pages = site.pages | where: "blog", true %}
{% endif %}
{% if page.node %}
{% assign menu_pages = site.pages | where: "node", true %}
{% endif %}
{% assign sorted_menu_pages = menu_pages | sort:"order" %}
<ul class="menu-list">
    {% for menu_page in sorted_menu_pages %}
    <li>
        {% if menu_page.order != 0 %}
        <a href="{{ menu_page.url }}" {% if menu_page.url==page.url %} class="primary is-active" {%else%}
            class="primary" {% endif %}>
            {% if menu_page.menu_title %}
            {{ menu_page.menu_title }}
            {% else %}
            {{ menu_page.title }}
            {% endif %}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>