<!-- single level menu for desktop -->
<div class="navbar-start is-hidden-touch">
    <a class="navbar-item {% if page.url contains '/node/' or page.url == '/' %} is-active {% endif %}" href="/">
        Node.js Package
    </a>
    <a class="navbar-item {% if page.url contains '/extension/' %} is-active {% endif %}"
        href="/extension/getting-started.html">
        Browser Extension
    </a>
    <!--
    <a class="navbar-item {% if page.url contains '/blog/' %} is-active {% endif %}" href="/blog/">
        Blog
    </a>
    -->
</div>

<!-- multi level menu for mobile -->
<div class="navbar-start is-hidden-desktop">
    <a class="navbar-item" href="/">
        Nodejs Package
    </a>
    <ul>
        {% assign menu_pages = site.pages | where: "node", true %}
        {% assign sorted_menu_pages = menu_pages | sort:"order" %}
        {% for menu_page in sorted_menu_pages %}
        <li><a href="{{ menu_page.url }}"> {{menu_page.title}}</a></li>
        {% endfor %}
    </ul>
    <a class="navbar-item is-active" href="/extension/getting-started.html">
        Browser Extension
    </a>
    <ul>
        {% assign menu_pages = site.pages | where: "extension", true %}
        {% assign sorted_menu_pages = menu_pages | sort:"order" %}
        {% for menu_page in sorted_menu_pages %}
        <li><a href="{{ menu_page.url }}"> {{menu_page.title}}</a></li>
        {% endfor %}
    </ul>
    <!--
    <a class="navbar-item" href="/blog/">
        Blog
    </a>
    -->
</div>