<header class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">  
        <span class="navbar-text">node js web crawler and scrapper</span>

        <div class="navbar-nav">
        <a class="nav-link" href="/index.html">Home</a>
        <a class="nav-link" href="https://github.com/get-set-fetch/get-set-fetch">Github</a>
        <a class="nav-link" href="https://github.com/get-set-fetch/get-set-fetch">{% octicon mark-github height:20 fill: #ffffff %}</a>
        </div>

    </div>
</header>