{% assign current = page.url | downcase | remove: '.html' | split: '/' | last %}

<div class="card my-4">
  <h5 class="card-header">Getting Started</h5>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        <li>
          <a href="/installation.html" {% if current == 'installation' %}class='active'{% endif %}>Installation </a>
        </li>
        <li>
          <a href="#" {% if current[1] == 'storage-options' %}class='active'{% endif %}>Storage options</a>
        </li>
        <li>
          <a href="#" {% if current[1] == 'hello-world' %}class='active'{% endif %}>Hello world</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="card my-4">
    <h5 class="card-header">Plugin Arhitecture</h5>
    <div class="card-body">
      <div class="row">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Default Plugins</a>
          </li>
          <li>
            <a href="#">Optional Plugins </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="card my-4">
    <h5 class="card-header">Guides</h5>
    <div class="card-body">
      <div class="row">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#">Image crawl</a>
          </li>
          <li>
            <a href="#">Parallel crawl</a>
          </li>
          <li>
              <a href="#">Resume crawl</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="card my-4">
  <h5 class="card-header">API Reference</h5>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">


          {% for item in site.docs_api %}

          {% if item.title != 'Index' %}
          {% assign current_api = item.url | remove: '.html' | split: '/' | last  %}
          {% assign current_api_lowercase = current_api | downcase %}
          
          <li><a href="{{ item.url }}" {% if current == current_api_lowercase ) %}class='active'{% endif %}>{{ current_api }}</a></li>
          {% endif %}

          
        {% endfor %}


      </ul>
    </div>
  </div>
</div>

<div class="card my-4">
  <h5 class="card-header">Contributing</h5>
  <div class="card-body">
    <div class="row">
      <ul class="list-unstyled mb-0">
        <li>
          <a href="#">How to contribute</a>
        </li>
        <li>
          <a href="#">Testing your changes</a>
        </li>
      </ul>
    </div>
  </div>
</div>