<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ page.title }} nodejs web crawler and scrapper</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include header.html %}
    <div class="container-fluid mt-4">
      <div class="row flex-xl-nowrap">
          <div class="col-9 ml-3">
            <h3 class="title">{{ page.title }}</h3>
            <hr/>          
            {{content}}
          </div>
          <div class="col-2" style="min-width: 200px;">
            {% include navigation/navigation.html %}
          </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
