.btn {
  padding: 1px 6px 1px 6px !important;
}
h3.title {
  color: green;
  padding-top: 0.7rem;
}
.no-border {
  border: none;
}
.col-comment {
  text-align: right;
}
h5.subtitle {
  color: #8b1010;
  margin-top: 20px;
}
a.underline {
  text-decoration: underline;
}
a.bold {
  font-weight: bold;
}

ul.examples {
  margin-bottom: 0;
}

ul.examples li {
  margin-bottom: 1rem;
}
