{% assign current = page.url | downcase | remove: '.html' | split: '/' | last %}

<div class="card my-4" style="border: none">
    <img src="/img/logo-21.png" width="159" height="63"/>
</div>

<div class="card my-4">
    <h5 class="card-header">Introduction</h5>
    <div class="card-body">
        <div class="row">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="/index.html" {% if current == 'installation' %}class='active'{% endif %}>Features </a>
                </li>
                <li>
                    <a href="/index.html#getting-started" {% if current[1] == 'storage-options' %}class='active'{% endif %}>Getting Started</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">Storage</h5>
    <div class="card-body">
        <div class="row">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="/storage.html">Configuration </a>
                </li>
                <li>
                    <a href="/storage.html#site">Site Entity</a>
                </li>
                <li>
                    <a href="/storage.html#resource">Resource Entity</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="card my-4">
    <h5 class="card-header">Plugins</h5>
    <div class="card-body">
        <div class="row">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="/plugins.html">Architecture</a>
                </li>
                <li>
                    <a href="/plugins.html#default">Default Plugins</a>
                </li>
                <li>
                    <a href="/plugins.html#optional">Optional Plugins </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">Guides</h5>
    <div class="card-body">
        <div class="row">
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="/guides.html">Image Scrapper</a>
                </li>
            </ul>
        </div>
    </div>
</div>

