<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <ul><?js data.augments.forEach(function(a) { ?>
        <li><a href="api.html#<?js=a?>"><?js=a?></a></li>
    <?js }) ?></ul>
<?js } ?>
