<h3 class="title mt-5" id="getting-started">Getting Started</h3>
<hr/>

<h5 class="subtitle">Prerequisites</h5>
get-set-fetch handles all async operations via javascript es6 async / await syntax. It requires at least node 7.10.1.

<h5 class="subtitle">Installation</h5>
<div class="col container">
        <div class="row">
            <div class="col col-comment">
                <p>Install get-set-fetch module</p>
            </div>
            <div class="col col-source">
{% highlight javascript %}
npm install get-set-fetch --save
{% endhighlight %}
            </div>
        </div>
    </div>
<div class="col container">
    <div class="row">
        <div class="col col-comment">
            <p>Install knex, sqlite3 in order to use the default sqlite:memory storage.</p>
        </div>
        <div class="col col-source">
{% highlight javascript %}
npm install knex sqlite3 --save
{% endhighlight %}
        </div>
    </div>
</div>

<h5 class="subtitle">Crawl a website</h5>
{% include guides/docco/getting-started.html %}

<br/>
Once simpleCrawl completes, all site resources have been crawled with the default settings: parse only html content.